.main-top {
    border-radius: 0px 0px 12px 12px;
    background: linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%);
    padding-bottom: 60px;
    position: relative;
}

.symbol-header{
    position: relative;
    width: 872px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/Symbol.png);
}

.symbol-header-tittle {
    position: absolute;
    top: 50%;
    left: 32px;
    color:  #FFFFFF;
    transform: translate(0,-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    width: 800px;
}

.scroll-header {
    background-image: url(../images/icons/Scroll.png);
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate( -50%, 0);
}

.scroll-header:hover {
    background-image: url(../images/icons/Scroll-hover.png);
}

.company-advantage {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.list-of-advantage {
    text-align: right;
    padding-right: 60px;
    border-right: 4px solid rgba(255, 255, 255, 0.30);
}

.list-of-advantage li{
    margin-bottom: 30px;
}

.list-of-advantage li:last-child{
    margin-bottom: 0;
}

.list-of-advantage li:first-child a {
    background: linear-gradient(118deg, #EF8080 0%, #F0145A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-of-advantage li a {
    white-space: nowrap;
    color: #B3B3BA;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.list-of-advantage li:not(:first-child) a:hover {
    color: #F0145A;
}

.text-company-advantage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.text-company-advantage h2 {
    margin-bottom: 30px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-company-advantage p {
    color:  #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.services-link-tittle {
    display: flex;
    margin-bottom: 10px;
}

.link-style {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
}

.link-style::after {
    content: "";
    background-image: url(../images/icons/Arrow-regular.png);
    margin-left: 2px;
    width: 12px;
    height: 12px;
}

.link-style:hover {
    color: #F0145A;
}

.link-style:hover::after {
    content: "";
    background-image: url(../images/icons/Arrow-hover.png);
    margin-left: 2px;
    width: 12px;
    height: 12px;
}

.hero {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards-pride {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.card-pride {
    width: 493px;
}

.card-pride:last-child .card-img {
    padding: 22px 22.5px;
}

.card-img {
    padding: 14px;
    border-radius: 24px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.card-tittle {
    color:#24A3FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.card-text {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.shadow {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,50%);
}

.shadow-bottom1 {
    width: 1880px;
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    background: #CACADB;
}

.shadow-bottom2 {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 1840px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 0px 0px 12px 12px;
    background: #E7E7F2;    
}

.main-center {
    background-color: #FFFFFF;
}

.team {
    margin-top: 80px;
    margin-bottom: 60px;
}

.team-card {
    display: flex;
    border-radius: 12px 0px 0px 12px;
}

.team-card img {
    width: 400px;
    height: 298px;
}

.team-card-inform {
    padding: 30px;
    background-color: #EDEDF7;
}

.team-link {
    margin-bottom: 5px;
}

.team-name {
    margin-top: 30px;
    margin-bottom: 6px;
    color: #B3B3BA;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.team-position {
    color: #B3B3BA;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.slider-menu {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.elipse {
    margin-left: 15px;
    width: 16px;
    height: 16px;
    background-color: rgba(36, 163, 255, 0.2);
    border-radius: 8px;
}

.elipse:first-child {
    margin-left: 0;
}

.active {
    background-color: rgba(36, 163, 255, 1);
}

.elipse:not(.active):hover {
    background-color: rgba(36, 163, 255, 0.6);
}

.partner-company {
    width: 1720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.partner-company h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.partner-cards {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 12px;
    overflow: hidden;
}

.partner-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 120px;
}

.partner-card:nth-child(1) {
    background-color: #323264;
    background-image:url(../images/Hillel-Logo-OneLine-White-Uk.png);
    background-size: 271px 48px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(2) {
    background: #143646;
    background-image:url(../images/WannaBiz.png);
    background-size: 200px 32px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(3) {
    background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
    background-image:url(../images/tapgerine.png);
    background-size: 179px 44px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(4) {
    background-color: #9E4DC3;
    background-image:url(../images/3D\ LOOK.png);
    background-size: 180px 42px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(5) {
    background: #FD9339;
    background-image:url(../images/orangear.png);
    background-size: 174px 44px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(6) {
    background: #E2E2E4;
    background-image:url(../images/adtellingent.png);
    background-size: 223px 48px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(7) {
    background: #C71C36;
    background-image:url(../images/3D\ LOOK.png);
    background-size: 138px 61px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(8) {
    background: #DCF3F9;
    background-image:url(../images/ecolease.png);
    background-size: 146px 76px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(9) {
    background: #EAEAEA;
    background-image:url(../images/Ifra-Tek.png);
    background-size: 182px 60px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(10) {
    background: #282240;
    background-image:url(../images/City-garden.png);
    background-size: 181px 38px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(11) {
    background: #1D4568;
    background-image:url(../images/art-print.png);
    background-size: 189px 46px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-card:nth-child(12) {
    background: #000;
    background-image:url(../images/UltimeCard.png);
    background-size: 152px 95px;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-footer {
    height: 800px;
    background: #F5F5FA;
}
