.main-top {
    border-radius: 0px 0px 12px 12px;
    background: linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%);
    padding-bottom: 60px;
    position: relative;
}

.symbol-header{
    position: relative;
    width: 872px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/Symbol.png);
}

.symbol-header-tittle {
    position: absolute;
    top: 50%;
    left: 32px;
    color:  #FFFFFF;
    transform: translate(0,-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    width: 800px;
}

.scroll-header {
    background-image: url(../images/icons/Scroll.png);
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate( -50%, 0);
}

.scroll-header:hover {
    background-image: url(../images/icons/Scroll-hover.png);
}

.company-advantage {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.list-of-advantage {
    text-align: right;
    padding-right: 60px;
    border-right: 4px solid rgba(255, 255, 255, 0.30);
}

.list-of-advantage li{
    margin-bottom: 30px;
}

.list-of-advantage li:last-child{
    margin-bottom: 0;
}

.list-of-advantage li:first-child a {
    background: linear-gradient(118deg, #EF8080 0%, #F0145A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-of-advantage li a {
    white-space: nowrap;
    color: #B3B3BA;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.list-of-advantage li:not(:first-child) a:hover {
    color: #F0145A;
}

.text-company-advantage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.text-company-advantage h2 {
    margin-bottom: 30px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-company-advantage p {
    color:  #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.services-link-tittle {
    display: flex;
    margin-bottom: 10px;
}

.services-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
}

.services-link::after {
    content: "";
    background-image: url(../images/icons/Arrow-regular.png);
    margin-left: 2px;
    width: 12px;
    height: 12px;
}

.services-link:hover {
    color: #F0145A;
}

.services-link:hover::after {
    content: "";
    background-image: url(../images/icons/Arrow-hover.png);
    margin-left: 2px;
    width: 12px;
    height: 12px;
}

.company-pride-tittle h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
}

.cards-pride {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.card-pride {
    width: 493px;
}

.card-pride:last-child .card-img {
    padding: 22px 22.5px;
}

.card-img {
    padding: 14px;
    border-radius: 24px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.card-tittle {
    color:#24A3FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.card-text {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.shadow {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%,50%);
}

.shadow-bottom1 {
    width: 1880px;
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    background: #CACADB;
}

.shadow-bottom2 {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 1840px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 0px 0px 12px 12px;
    background: #E7E7F2;    
}

.next-sec {
    background-color: #FFFFFF;
    height: 2000px;
}